.call-to-action {
  padding-top: 89px;
  margin-top: -89px;
  .address {
    p {
      margin: 0;
    }
  }

  .cta-img {
    background-size: cover;
    @include background-cover;
  }

  .right {
    background-position: 25%;
  }

  .cta-item {
    background-color: #fff;
  }

  .cta-row {
    height: 40vw;
    min-height: 20rem;
  }
  @media (max-width: 692px) {
    padding-top: 178px;
    margin-top: -232px;
  }
}
.cta-row-bottom {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
