.call-to-action {
  position: relative;
  background-color: $gray-800;
  background: url('../img/custom_spaces.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 3rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
  }
  .address {
    p {
      margin: 0;
    }
  }
  .cta-item {
    background-color: #fff;
  }
  .cta-row-bottom{
    padding-top: 11rem;
  }
}
