.features-icons {
  margin-top: -5rem;
  padding-top: 10rem;
  padding-bottom: 7rem;
  .features-icons-item {
    max-width: 22vw;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .features-icons-item {
      max-width: 42vw;
      padding-bottom: 4rem;
    }
  }
}
