header.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('../img/Entry-6-2020.jpg') no-repeat center center;
  @include background-cover;
  margin-top: -60px;
  padding-top: 6rem;
  .modal-body {
    a {
    color: $blue;
    }
  }
  .modal-btn {
    margin-top: 10rem;
  }
  .masthead-text {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  a {
    color: #fff;
    font-size: 1.1rem;
  }
  // @media (min-width: 768px) {
  //   padding-top: 24rem;
    // padding-bottom: 15rem;
  // }
}
