.showcase {
  padding-top: 89px;
  margin-top: -89px;
  padding-bottom: 89px;
  .showcase-text {
    background-color: #fff2bf;
    padding: 3rem;
    margin: 0;
  }
  .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  .showcase-list {
    font-size: 1rem;
    font-weight: 300;
    ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    }
  }
  .overlay {
    height: auto;
    min-height: 30rem;
    background: linear-gradient(to bottom, #{fade-out($black, .8)} 0%,#{fade-out($black, .4)} 50%,#{fade-out($black, 1)} 100%), url('../img/yard_by_drone-1.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .table td {
    border-top: 1px solid $gray-500;
  }
  h2 {
    color: rgb(253, 67, 43);
  }
  .modal-trigger {
    background-color:#fff;
    &:hover {
      background-color: $gray-900;
    }
  }

  @media (max-width: 692px) {
    padding-top: 178px;
    margin-top: -232px;
  }

  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}

.map-responsive {
  background-size: contain;
	overflow: hidden;
	padding-bottom: 30%;
	position: relative;
  height: 0;
  
	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
    position: absolute;
    scroll-behavior: none;
    overflow: hidden;
	}
}