.testimonials {
  margin-top: -89px;
  padding-top: 89px;
  padding-bottom: 89px;
  .flex {
    flex-wrap: wrap;
  }
  .testimonial-item {
    max-width: 18rem;
    img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px $gray-500;
    }
  }
}
